
.navbar {
  border-radius:0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
}


.hero {
  background: url('kumo.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:370px;
  padding-top: 50px;
}

h1, h2, h3, h4, h5, h6, {
  margin:0;
}

.navbar {margin-bottom: -50px;}

.frosty {
  // background: rgba(0,0,0, 0.5);
  color: black;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
}

.btn {
  border-radius:0;
}

body {
  // background: url('bg.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.booyah-box {
  // -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  // -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  // box-shadow: 1px 1px 2px 0 #d0d0d0;
  margin-top: 80px;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;

  h2, h1 {
    margin: 10px;
  }
}

.clr {
  clear:both;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

.has-error {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
  margin:10px;
}

.lesson {
  background-color:black;
  margin-top: 10px;
  height:130px;
  font-size: 15px;
}

.lesson a {
  color:white;
  font-family: "Helvetica Neue",Helvetica;
  font-weight:100;
  font-size: 15px;
}

.lesson a b {
  font-weight: 100;
  font-size:25px;
}







